<tr class='content'>
    <td>Number of patients</td>
    <td>{{ statistic.numberOfPatients }}</td>
</tr>
<tr class='content'>
    <td>Number of doctors</td>
    <td>{{ statistic.numberOfDoctors }}</td>
</tr>
<tr class='content'>
    <td>Ratio of patients to doctors</td>
    <td>{{ statistic.ratioOfPatientsDoctors }}</td>
</tr>
<tr class='content'>
    <td>Number of treated patients</td>
    <td>{{ statistic.numberTreated }}</td>
</tr>
<tr class='content'>
    <td>Number of not treated patients</td>
    <td>{{ statistic.numberNotTreated }}</td>
</tr>
<tr class='content'>
    <td>Percentage of males</td>
    <td>{{ statistic.percentageOfMales }}%</td>
</tr>
<tr class='content'>
    <td>Percentage of Females</td>
    <td>{{ statistic.percentageOfFemales }}%</td>
</tr>