{% extends "auth_base.html" %}
{% load staticfiles %}
{% load bootstrap %}


{% block title %} Home {% endblock %}
{% block content %}
<div class='container'>
    <div class='row'>
        {% for tent in tents %}
            <div class='col-md-6'>
                <div class='panel panel-default content'>
                    <div class='panel-heading text-center'>
                        <h3> Name: {{ tent.name }} </h3>
                    </div>
                    <div class='panel-body'>
                        <p> <b> Purpose: </b>{{ tent.description }} </p>
                        <p> <b> Number of assigned patients: </b> {{ tent.assignedPatients }}</p>
                        <p>
                            <b> Assigned Doctors: </b>
                            {% for doctor in tent.assignedDoctors %}
                                {{ doctor.user.first_name }} {{ doctor.user.last_name }},
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}